<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>LE-SSERAFIM Welcome</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <script src="/colors.js"></script>
  </head>
  <body>
    <div class="container">
      <input id="night_day" type="button" value="night" onclick="nightDayHandler(this)">
      <div id="title"><h1><a href="index.html">LE-SSERAFIM</a></h1></div>
      <div id="grid">
        <ol>
          <li><a href="/team/sakura">사쿠라</a></li>
          <li><a href="/team/chaewon">김채원</a></li>
          <li><a href="/team/yunjin">허윤진</a></li>
          <li><a href="/team/kazuha">카즈하</a></li>
          <li><a href="/team/eunchae">홍은채</a></li>
        </ol>
        <div id="article">
          <h2>WEB이란 무엇인가?</h2>
          <p>
            The World Wide Web (WWW), commonly known as the Web, is an information system   enabling documents and other web resources to be accessed over the Internet.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
